.wp-block-engineerpress-arrow-link {
	a {
		text-decoration: none;
		transition: all .25s;
	}

	a::after {
		content: '→';
		margin-left: .25rem;
		transition: all .25s;
	}
	
	&:hover {
		a::after {
			content: '→';
			margin-left: .5rem;
			transition: all .25s;
		}
	}
}
